/build/
/cjson/
/client/keys/
/server/keys/
.idea/
*.o
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
*.out
*.elf
*.bin
*.map
*.core
core
*.d
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
config.log
config.status
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
.vscode/
*.code-workspace
*.swp
*.swo
*.bak
*.tar
*.tar.gz
*.zip
*.7z
*.gcno
*.gcda
*.gcov
*.log
id_rsa*
*.key
*.pem
*.crt
*.enc
.DS_Store